<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BookHubDBConnection"
         connectionString="Data Source=DESKTOP-BOQ9G78\\SQLEXPRESS;Initial Catalog=BookHubDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

<!--String de conexao com o banco de dados  -->
<!--Usa autenticação do windows  -->